// $main-font: Helvetica, sans-serif;
$main-font: 'Josefin Sans', sans-serif;

$primary-color: teal;
$secondary-color: teal;

$theme1: #000000;
$theme2: #291528;
$theme3: #3a3e3b;
$theme4: #f0eff4;
$theme5: #9e829c;